 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1129px;
}

.u-section-1 .u-shape-1 {
  width: 176px;
  height: 176px;
  background-image: linear-gradient(#db545a, #2cccc4);
  margin: 40px 53px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 469px;
  height: 656px;
  background-image: linear-gradient(#2cccc4, #db545a);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 101px 222px 0 auto;
}

.u-section-1 .u-image-1 {
  height: 515px;
  width: 671px;
  object-position: 31.52% 50%;
  margin: -760px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 605px;
  min-height: 526px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: -271px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 35px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 37px 0 0;
}

.u-section-1 .u-shape-3 {
  width: 176px;
  height: 176px;
  background-image: linear-gradient(#db545a, #2cccc4);
  margin: -50px 22px 0 auto;
}

.u-section-1 .u-social-icons-1 {
  height: 97px;
  min-height: 16px;
  width: 97px;
  min-width: 16px;
  margin: -136px 62px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-shape-4 {
  width: 176px;
  height: 176px;
  background-image: linear-gradient(#db545a, #2cccc4);
  margin: -4px auto 0 16px;
}

.u-section-1 .u-social-icons-2 {
  height: 104px;
  min-height: 16px;
  width: 104px;
  min-width: 16px;
  margin: -137px auto 0 52px;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-shape-5 {
  width: 176px;
  height: 176px;
  background-image: linear-gradient(#db545a, #2cccc4);
  margin: -33px 62px 0 auto;
}

.u-section-1 .u-social-icons-3 {
  height: 97px;
  min-height: 16px;
  width: 97px;
  min-width: 16px;
  margin: -136px 101px 0 auto;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-shape-6 {
  width: 176px;
  height: 176px;
  background-image: linear-gradient(#db545a, #2cccc4);
  margin: -88px auto 0 109px;
}

.u-section-1 .u-icon-4 {
  width: 92px;
  height: 92px;
  color: rgb(0, 0, 0) !important;
  margin: -134px auto 0 151px;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  background-image: none;
  margin: 95px auto 0;
  padding: 2px 21px;
}

.u-section-1 .u-shape-7 {
  background-image: linear-gradient(#db545a, #2cccc4);
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-shape-8 {
  background-image: linear-gradient(#db545a, #2cccc4);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-shape-9 {
  background-image: linear-gradient(#db545a, #2cccc4);
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-shape-10 {
  background-image: linear-gradient(#db545a, #2cccc4);
  margin-bottom: 0;
  margin-top: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-shape-11 {
  background-image: linear-gradient(#db545a, #2cccc4);
  margin-bottom: 60px;
  margin-top: 53px;
}

.u-section-1 .u-shape-12 {
  background-image: linear-gradient(#db545a, #2cccc4);
  width: 87px;
  height: 87px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 526px 27px 60px auto;
}

.u-section-1 .u-icon-5 {
  width: 44px;
  height: 44px;
  color: rgb(0, 0, 0) !important;
  margin: -65px 49px 60px auto;
}

.u-section-1 .u-shape-13 {
  background-image: linear-gradient(#db545a, #2cccc4);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-3 {
    margin-top: -342px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 0;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 0;
  }

  .u-section-1 .u-social-icons-2 {
    margin-top: 0;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 0;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    padding: 14px 64px 15px 63px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-2 {
    margin-right: 71px;
  }

  .u-section-1 .u-image-1 {
    height: 414px;
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 87px;
    height: 87px;
    margin-top: 20px;
    margin-right: -74px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-top: 209px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 261px;
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    transition-duration: 8.75s;
    margin-top: 14px;
    margin-right: -27px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 93px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 64px;
    padding: 4px 16px 5px 15px;
  }

  .u-section-1 .u-shape-7 {
    width: 87px;
    height: 87px;
    margin-top: -520px;
    margin-right: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-8 {
    width: 87px;
    height: 87px;
    margin-top: -88px;
    margin-right: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-9 {
    width: 87px;
    height: 87px;
    margin-top: 11px;
    margin-right: auto;
    margin-left: 64px;
  }

  .u-section-1 .u-shape-10 {
    width: 87px;
    height: 87px;
    margin-top: 50px;
    margin-right: 83px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-11 {
    width: 87px;
    height: 87px;
    margin: -811px auto 0 -93px;
  }

  .u-section-1 .u-shape-12 {
    margin-bottom: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-bottom: 0;
  }

  .u-section-1 .u-shape-13 {
    width: 87px;
    height: 87px;
    margin: 127px -16px 60px auto;
  }
}

.u-section-1 .u-group-1:before {
  opacity: 1;
}

.u-section-1 .u-group-1 {
  opacity: 1;
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-group-1.u-group-1.u-group-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  transform: scale(1) translateX(10px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-group-1:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-group-1 {
  opacity: 1 !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1101px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-size: 4.0625rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 314px 89px 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 387px;
  margin: 23px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  font-style: italic;
  width: 518px;
  margin: 27px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 367px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 231px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}.u-section-4 .u-sheet-1 {
  min-height: 1398px;
}

.u-section-4 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin-bottom: 60px;
}

.u-section-4 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 53px auto 0 93px;
}

.u-section-4 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 936px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 170px;
  height: 121px;
  filter: brightness(0);
  margin: 536px auto 60px;
}

.u-section-4 .u-image-2 {
  width: 54px;
  height: 56px;
  filter: brightness(0);
  margin: -1966px 0 60px auto;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  margin: 54px auto 60px 93px;
  padding: 0;
}

.u-section-4 .u-icon-4 {
  color: rgb(0, 0, 0) !important;
}

.u-section-4 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-4 .u-text-1 {
  margin: -2674px 1469px 60px -329px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-4 .u-text-2 {
  width: auto;
  margin: 134px 0 60px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 83px auto 0;
}

.u-section-4 .u-text-3 {
  width: 340px;
  margin: 30px 0 60px;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 24px auto 60px;
}

.u-section-4 .u-text-4 {
  width: 340px;
  margin: 30px 0 60px;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: 71px auto 0;
}

.u-section-4 .u-text-5 {
  width: 340px;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: linear-gradient(to right, #77aad9, #e5e5e5);
  margin: 30px 0 60px;
}

.u-section-4 .u-image-3 {
  width: 54px;
  height: 56px;
  margin: 10px 116px 60px auto;
}

.u-section-4 .u-text-6 {
  width: 340px;
  margin: 30px 0 60px;
}

.u-section-4 .u-btn-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-shape-2 {
  background-image: linear-gradient(to right, #adcce9, #4c7397);
}

.u-section-4 .u-image-4 {
  width: 54px;
  height: 61px;
  filter: brightness(0.7);
  margin: 0 45px 60px auto;
}

.u-section-4 .u-text-7 {
  width: 340px;
  margin: 30px 0 60px;
}

.u-section-4 .u-btn-8 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 1369px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 1259px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 1169px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-social-icons-1 {
    height: 54px;
    width: 54px;
    min-width: 16px;
    margin: -1021px 45px 0 auto;
  }

  .u-section-4 .u-social-icons-2 {
    height: 47px;
    width: 47px;
    margin-top: 49px;
    margin-left: 85px;
  }

  .u-section-4 .u-social-icons-3 {
    height: 54px;
    width: 54px;
    margin-top: 83px;
    margin-right: 99px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    width: 113px;
    height: 80px;
    margin-top: 5596px;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -5651px;
    margin-bottom: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 436px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-4 .u-icon-5 {
    margin-top: 35px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin: 24px auto 0;
  }

  .u-section-4 .u-btn-2 {
    padding: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 169px;
    margin-bottom: 0;
  }

  .u-section-4 .u-btn-3 {
    padding: 0;
  }

  .u-section-4 .u-icon-6 {
    margin-top: 61px;
  }

  .u-section-4 .u-text-3 {
    margin-bottom: 0;
  }

  .u-section-4 .u-btn-4 {
    padding: 0;
  }

  .u-section-4 .u-icon-7 {
    margin-top: 83px;
    margin-bottom: 0;
  }

  .u-section-4 .u-text-4 {
    margin-bottom: 0;
  }

  .u-section-4 .u-btn-5 {
    padding: 0;
  }

  .u-section-4 .u-btn-6 {
    padding: 0;
  }

  .u-section-4 .u-shape-1 {
    width: 66px;
    height: 66px;
    margin: 55px 135px 0 auto;
  }

  .u-section-4 .u-image-3 {
    height: 61px;
    filter: brightness(0.7);
    margin-top: -71px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 45px;
    margin-bottom: 0;
  }

  .u-section-4 .u-btn-7 {
    padding: 0;
  }

  .u-section-4 .u-shape-2 {
    width: 66px;
    height: 66px;
    margin: 94px auto 0;
  }

  .u-section-4 .u-image-4 {
    margin-top: -73px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }

  .u-section-4 .u-btn-8 {
    padding: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 300px;
}

.u-section-5 .u-video-1 {
  height: 500px;
  margin: 50px 0;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-5 .u-icon-1 {
  width: 71px;
  height: 71px;
  margin: 311px 131px 60px auto;
}

.u-section-5 .u-image-1 {
  width: 170px;
  height: 197px;
  margin: 1069px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-video-1 {
    height: 404px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-video-1 {
    height: 310px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-video-1 {
    height: 200px;
    margin-top: -1865px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .embed-responsive-1 {
    width: 100%;
    left: auto;
    height: 100%;
    top: auto;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 299px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    width: 286px;
    height: 355px;
    margin-top: 1090px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 300px;
}

.u-section-6 .u-image-1 {
  width: 280px;
  height: 334px;
  margin: -137px auto 60px;
}.u-section-7 .u-sheet-1 {
  min-height: 300px;
}

.u-section-7 .u-image-1 {
  width: 283px;
  height: 332px;
  margin: -87px auto 55px;
}.u-section-8 .u-sheet-1 {
  min-height: 393px;
}

.u-section-8 .u-image-1 {
  width: 314px;
  height: 363px;
  margin: 0 auto 30px;
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    width: 290px;
    height: 336px;
    margin-top: -37px;
    margin-bottom: 60px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 317px;
}

.u-section-9 .u-image-1 {
  width: 294px;
  height: 368px;
  margin: -85px auto 34px;
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    margin-top: -86px;
    margin-bottom: 35px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 316px;
}

.u-section-10 .u-image-1 {
  width: 293px;
  height: 339px;
  margin: -23px auto 0;
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    margin-top: -24px;
    margin-bottom: 1px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 424px;
}

.u-section-11 .u-image-1 {
  width: 299px;
  height: 346px;
  margin: 8px auto 60px;
}.u-section-12 .u-sheet-1 {
  min-height: 300px;
}.u-section-13 .u-sheet-1 {
  min-height: 363px;
}

.u-section-13 .u-image-1 {
  width: 170px;
  height: 197px;
  margin: -318px auto 60px 36px;
}

.u-section-13 .u-image-2 {
  width: 317px;
  height: 345px;
  margin: 27px auto 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-image-1 {
    width: 303px;
    height: 351px;
    margin-top: -360px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-13 .u-image-2 {
    width: 310px;
    height: 338px;
    margin-top: 9px;
    margin-bottom: 25px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 353px;
}

.u-section-14 .u-image-1 {
  height: 372px;
  width: 303px;
  margin: -19px auto 0;
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-14 .u-image-1 {
    margin-top: -189px;
    margin-bottom: 60px;
  }
}